--concurrent-fragments 32
#--downloader aria2c
--embed-metadata
--embed-subs
--embed-thumbnail
# Avoid av1 for video resolution above 2K
#--format bestvideo*[height=2160][vcodec!=av01]+bestaudio/bestvideo*[height>1440][vcodec!=av01]+bestaudio/bestvideo*[height<=1440]+bestaudio/bestvideo*+bestaudio/best
--keep-video
--mark-watched
--output "%(playlist)s/%(playlist_index)s_%(title)s.%(ext)s"
--paths "~/Videos/web-dl"
--sub-langs en.*,zh.*,ja.*,live_chat
--write-auto-subs
--write-subs
