[diff]
command = "chezmoi-difft"
args = [
  "--color=always",
  "--display=inline",
  "{{ "{{" }} .Destination {{ "}}" }}",
  "{{ "{{" }} .Target {{ "}}" }}",
]

[merge]
command = "nvim"
args = [
  "-d",
  "{{ "{{" }} .Target {{ "}}" }}",
  "{{ "{{" }} .Source {{ "}}" }}",
  "{{ "{{" }} .Destination {{ "}}" }}",
]
