{{- $machineForm := get . "machineForm" -}}
{{- if and $machineForm (ne $machineForm "headless") (ne $machineForm "headed") -}}{{ fail "machineForm must be headless or headed" }}{{- end -}}
{{- $isWSL := and (eq .chezmoi.os "linux") (.chezmoi.kernel.osrelease | lower | contains "microsoft") -}}
{{- $isBareMetal := not $isWSL -}}
{{- $isHeaded := $isBareMetal -}}
{{- if eq $machineForm "headless" -}}{{- $isHeaded = false -}}{{- end -}}
{{- if eq $machineForm "headed" -}}{{- $isHeaded = true -}}{{- end -}}
#
# ~/.bashrc
#

export EDITOR=nvim

export XDG_CACHE_HOME="$HOME/.cache"
export XDG_CONFIG_HOME="$HOME/.config"
export XDG_DATA_HOME="$HOME/.local/share"
export XDG_STATE_HOME="$HOME/.local/state"

export HISTFILE="$XDG_STATE_HOME/bash/history"
export LESSHISTFILE="$XDG_STATE_HOME/less/history"
export NODE_REPL_HISTORY="$XDG_STATE_HOME/node/repl_history"
export PYTHON_HISTORY="$XDG_STATE_HOME/python/history"

for _xdg_user_dir in \
    "$XDG_STATE_HOME/bash" \
    "$XDG_STATE_HOME/less" \
    "$XDG_STATE_HOME/node" \
    "$XDG_STATE_HOME/python"; do
    [[ -d $_xdg_user_dir ]] || mkdir --parents "$_xdg_user_dir"
done
unset _xdg_user_dir

export CARGO_HOME="$XDG_DATA_HOME/cargo"
{{- if and (not $isWSL) (not $isHeaded) }}
export CONTEXT7_API_KEY=
{{- else if $isWSL }}
export CONTEXT7_API_KEY="$(win-chezmoi secret keyring get --service=ctx7 --user=api-key 2>/dev/null)"
{{- else }}
export CONTEXT7_API_KEY="$(chezmoi secret keyring get --service=ctx7 --user=api-key 2>/dev/null)"
{{- end }}
export TEXMFHOME="$XDG_DATA_HOME/texmf"
export TEXMFVAR="$XDG_CACHE_HOME/texlive/texmf-var"
export TEXMFCONFIG="$XDG_CONFIG_HOME/texlive/texmf-config"
export DFT_GRAPH_LIMIT=100000000

export DOCKER_HOST="unix://$XDG_RUNTIME_DIR/podman/podman.sock"
{{ if $isWSL -}}
eval "$(/usr/sbin/wsl2-ssh-agent)"
{{ else -}}
export SSH_AUTH_SOCK="$XDG_RUNTIME_DIR/ssh-agent.socket"
{{ end -}}

case ":$PATH:" in
    *":$HOME/.local/bin:"*) ;;
    *) export PATH="$HOME/.local/bin:$PATH" ;;
esac

case ":$PATH:" in
    *":$CARGO_HOME/bin:"*) ;;
    *) export PATH="$CARGO_HOME/bin:$PATH" ;;
esac

# pnpm
export PNPM_HOME="{{ .chezmoi.homeDir }}/.local/share/pnpm"
case ":$PATH:" in
    *":$PNPM_HOME/bin:"*) ;;
    *) export PATH="$PNPM_HOME/bin:$PNPM_HOME:$PATH" ;;
esac
# pnpm end

# If not running interactively, don't do anything
[[ $- != *i* ]] && return

source /usr/share/doc/pkgfile/command-not-found.bash

alias ls='ls --color=auto'

PS1='[\u@\h \w]\n\$ '

if [[ -n ${SSH_CONNECTION:-} && -z ${__BASHRC_EXEC_FISH:-} ]] && command -v fish >/dev/null 2>&1; then
    export __BASHRC_EXEC_FISH=1
    exec fish
fi
