[alias]
    ddiff = -c diff.external=difft diff
    dft = -c diff.external=difft diff
    dl = -c diff.external=difft log -p --ext-diff
    dlog = -c diff.external=difft log --ext-diff
    ds = -c diff.external=difft show --ext-diff
    dshow = -c diff.external=difft show --ext-diff
[commit]
    gpgSign = true
[core]
    autocrlf = input
    whitespace = tab-in-indent,tabwidth=4
[diff]
    tool = difftastic
[difftool "difftastic"]
    cmd = difft \"$MERGED\" \"$LOCAL\" \"abcdef1\" \"100644\" \"$REMOTE\" \"abcdef2\" \"100644\"
[difftool]
    prompt = false
[difftool "vscode"]
    cmd = code --wait --diff \"$LOCAL\" \"$REMOTE\"
[fetch]
    all = true
[gpg]
    format = ssh
[gpg "ssh"]
    allowedSignersFile = ~/.config/git/allowed_signers
[init]
    defaultBranch = main
[merge]
    ff = only
[pager]
    difftool = true
[pull]
    rebase = true
[push]
    default = current
[rebase]
    autoStash = true
[remote]
    pushDefault = origin
[user]
    email = {{ get . "gitUserEmail" }}
    name = {{ get . "gitUserName" }}
    signingKey = ~/.ssh/id_ed25519.pub
