[user]
	email = {{ get . "gitUserEmail" | default "you@example.com" }}
	name = {{ get . "gitUserName" | default "Your Name" }}
[pull]
	ff = only
[init]
	defaultBranch = main
[merge]
	ff = only
[core]
	autocrlf = input
	whitespace = tab-in-indent,tabwidth=4
