period = 1800
allow-ipv6 = true

provider ipv6@duckdns.org {
    username        = {{ keyring "chezmoi.duckdns" "token" }}
    password        = noPasswordForDuckdns
    hostname        = {{ get . "duckdnsHostname" }}
    checkip-command = "ip -6 addr show scope global mngtmpaddr | awk -F'[ /]+' '/inet6/{print $3}'"
}

provider ipv6@cloudflare.com {
    username = {{ get . "cloudflareDomain" }}
    password = {{ keyring "chezmoi.cloudflare" "api-token" }}
    hostname = {{ get . "cloudflareHostname" }}
    checkip-command = "ip -6 addr show scope global mngtmpaddr | awk -F'[ /]+' '/inet6/{print $3}'"
}
