{{- $machineForm := get . "machineForm" -}}
{{- if and $machineForm (ne $machineForm "headless") (ne $machineForm "headed") -}}{{ fail "machineForm must be headless or headed" }}{{- end -}}
{{- $isWSL := and (eq .chezmoi.os "linux") (.chezmoi.kernel.osrelease | lower | contains "microsoft") -}}
{{- $isBareMetal := not $isWSL -}}
{{- $isHeaded := $isBareMetal -}}
{{- if eq $machineForm "headless" -}}{{- $isHeaded = false -}}{{- end -}}
{{- if eq $machineForm "headed" -}}{{- $isHeaded = true -}}{{- end -}}
{{- $isHeadless := not $isHeaded -}}
if status is-interactive
    source /usr/share/doc/pkgfile/command-not-found.fish

    abbr --add cmcd 'cd $XDG_DATA_HOME/chezmoi'
    abbr --add enven 'env LANG=en_US.UTF-8 LANGUAGE=en_US'
    abbr --add less 'less -R'
    abbr --add ll 'ls -al --color=auto'
    abbr --add rm trash-put
    abbr --add sshr "ssh -o ConnectionAttempts=9999"
    abbr --add updsrcinfo 'makepkg --printsrcinfo | tee .SRCINFO'
    abbr --add vi nvim
    abbr --add vimdiff 'nvim -d'
{{- if $isHeaded }}
    abbr --add anifps 'gnome-randr modify --mode 3840x2160@23.976 {{ get . "gnomeRandrOutput" | default "DP-1" }}'
    abbr --add hifps 'gnome-randr modify --mode 3840x2160@119.993 {{ get . "gnomeRandrOutput" | default "DP-1" }}'
{{- end }}
{{- if $isBareMetal }}
    abbr --add rebootwin 'systemctl reboot --boot-loader-entry=auto-windows'
{{- end }}
    abbr --add gd git-forge-dump
    abbr --add !! --position anywhere --function last_history_item
end
