{
  "log": {
    "loglevel": "warning"
  },
  "inbounds": [
    {
      "port": 443,
      "protocol": "vless",
      "settings": {
        "clients": [
          {
            "id": {{ keyring "chezmoi.xray" "client-id-0" | quote }},
            "flow": "xtls-rprx-vision"
          },
          {
            "id": {{ keyring "chezmoi.xray" "client-id-1" | quote }},
            "flow": "xtls-rprx-vision"
          }
        ],
        "decryption": "none"
      },
      "streamSettings": {
        "network": "tcp",
        "security": "reality",
        "realitySettings": {
          "show": false,
          "dest": {{ printf "%s:443" (get . "xraySpoofDomain") | quote }},
          "serverNames": [
            {{ get . "xraySpoofDomain" | quote }}
          ],
          "privateKey": {{ keyring "chezmoi.xray" "private-key" | quote }},
          "shortIds": [
            {{ keyring "chezmoi.xray" "short-id-0" | quote }},
            {{ keyring "chezmoi.xray" "short-id-1" | quote }}
          ]
        }
      },
      "sniffing": {
        "enabled": true,
        "destOverride": [
          "http",
          "tls",
          "quic"
        ]
      }
    }
  ],
  "routing": {
    "domainStrategy": "IPIfNonMatch",
    "rules": [
      {
        "type": "field",
        "protocol": [
          "bittorrent"
        ],
        "outboundTag": "block"
      },
      {
        "type": "field",
        "port": "443",
        "network": "udp",
        "outboundTag": "block"
      },
      {
        "type": "field",
        "ip": [
          "geoip:cn",
          "geoip:private"
        ],
        "outboundTag": "block"
      }
    ]
  },
  "outbounds": [
    {
      "protocol": "freedom",
      "settings": {}
    },
    {
      "tag": "block",
      "protocol": "blackhole",
      "settings": {}
    }
  ]
}
